body {
    background-color:#e1f5fe;
}

.title{
    margin-bottom: 50px;
    color: #01579b ;
}

.frame {    
    width:80%;
    max-width:1000px;
    height: auto;
    border-radius: 25px;
    margin: 50px auto 0 auto;
    background-color:#e1f5fe;
    padding: 20px;
    color: #161925;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    'svg height'
    '. player-info'
    'search search'
    'search-result search-result'
}

/* .frame h1 {
    text-align: center;
} */

label {
    color: #01579b ;
}

#player-main {
    grid-area: svg;
    z-index:5;
    /* margin-bottom:100px;*/
    display: flex;
    justify-content: center;
}

.listed-heights-od {
    display:flex;
    font-size: 20px;
}

#player-search {
    grid-area: search;
    padding-top:20px;
    display:flex;
    align-items:flex-end;
}

#player-search-result{
    grid-area: search-result;
    font-size: 12px;
    border:none;
}

.collection .collection-item {
    padding:5px 10px;
}

.listed-heights-od {
    display: flex;
    align-items:center;
    grid-area: height;
    justify-content: center;
}

.listed-weight-od{
    grid-area: weights;
    display: flex;    
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.searched-players{

}

.searched-players:hover{
    cursor:pointer;
}

.player-info-btn{
    grid-area: player-info;
    white-space: nowrap;
}


@media only screen and (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 200px 100px 70px auto;
        grid-template-areas:
        'search svg'
        'search-result svg'
        'search-result height'
        'search-result player-info'
    }


    #player-main {
        padding: 0 50px;
        margin:0;
        justify-content: center;
        align-items:center;
    }

    .listed-heights-od {
        align-items:baseline;
    }
    #player-search {
        width: 80%;
    }

    #player-search-result{
        font-size: 15px;
        width: 80%;
    }

    .collection .collection-item {
        padding:10px 20px;
    }

    .player-info-btn{
        width:40%;
        margin-left:auto;
        margin-right:auto;

    }
}