body {
    background-color:#e1f5fe;
}

.title{
    margin-bottom: 50px;
    color: #01579b ;
}

.frame {    
    width:80%;
    max-width:1000px;
    height: auto;
    border-radius: 25px;
    margin: 50px auto 0 auto;
    background-color:#e1f5fe;
    padding: 20px;
    color: #161925;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px auto auto auto;
    grid-template-areas:
    'search svg'
    'search-result svg'
    'search-result height'
    'search-result .'
}

/* .frame h1 {
    text-align: center;
} */

label{
    color: #01579b ;
}

#player-main {
    grid-area: svg;
    z-index:5;    
    padding: 0 50px;
    display: flex;
    justify-content: center;
}

.listed-heights-od {
    display:flex;
    font-size: 20px;
}

#player-search {
    grid-area: search;
    width: 80%;
}

#player-search-result{
    grid-area: search-result;
    font-size: 15px;
    border:none;
    width: 80%;
}

.listed-heights-od {
    display: flex;
    align-items:center;
    grid-area: height;
    justify-content: center;
}

.listed-weight-od{
    grid-area: weights;
    display: flex;    
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.searched-players{

}

.searched-players:hover{
    cursor:pointer;
}